extends default

block title
    block title

block content
    include ./../sections/anketa
    include ./../sections/checkboxes
    include ./../sections/leveljs
    include ./../sections/about
    include ./../sections/plans
    include ./../sections/date