.date {
    padding: 0 0 65px;

    &__content-title,
    &__content-input {
        @extend %dib;
    }

    &__content-title {
        padding: 18px 0 0;
        font-family: "PTSans bold";
        font-size: 22.44px;
        line-height: 36px;
        text-align: left;
        color: $color_brown2;
        margin: 0 7px 0 -0.7px;
    }

    &__content-input {
        padding: 5px 0 10px 15px;
        font-family: "Courier New";
        font-size: 30px;
        line-height: 36px;
        font-weight: 400;
        text-align: left;
        color: $color_grey2;
        background: url(../images/line.png) left 14px no-repeat;

        p {
            margin: 0;
        }

        input {
            width: 198px;
            min-width: 198px;
            border: none;
            background: none;

            &:focus {
                outline: none;
            }
        }
    }
}