-
	var anketaItems = [
		{name: 'Полное ФИО', data: 'Талай Сергей Алексеевич'},
		{name: 'Год рождения', data: '1974'},
		{name: 'Место жительства', data: 'г. Волковыск, Беларусь'},
		{name: 'Скайп', data: 'tsa_minsk'},
		{name: 'Почта', data: 'tsa.minsk@gmail.com'}
	]

	var checkboxesItems = [
		[
			{label: 'БЭМ/OOCSS', checked: true},
			{label: 'Pug (Jade)', checked: true},
			{label: 'Stylus/LESS/SASS', checked: true},
			{label: 'Работаю с SVG', checked: true},
			{label: 'Верстаю семантично', checked: true},
			{label: 'Accessibility (A11Y)'},
			{label: 'ES2015/ES2016', checked: true}
		],
		[
			{label: 'Gulp/GRUNT'},
			{label: 'Webpack'},
			{label: 'Дружу с WebGL'},
			{label: 'jQuery', checked: true},
			{label: 'Знаю/изучаю Angular'},
			{label: 'Знаю/изучаю React'},
			{label: 'Знаю/изучаю Vue/Nuxt', checked: true}
		],
		[
			{label: 'Знаю/изучаю Node.js'},
			{label: 'Использую Git', checked: true},
			{label: 'С глазомером <span>всё </span><span>ок</span>'},
			{label: 'Читаю <a href="http://blog.csssr.ru/" target="_blank"><span>blog.csssr.ru</span></a>'},
			{label: 'Я ленивый(-ая)'},
			{label: 'У меня хороший английский'}
		]
	]

	var level_js = 'margin: 0 0 0 520px;'
	
	var aboutValue = 'Мне нравится верстать - это как рисовать, только круче. И еще нравиться писать скрипты - это как оживлять неживое. Волшебство в общем. Но что бы стать "матерым" волшебником, нужно много и усердно поработать в продвинутой компании и поучиться там у супермастеров. На это и уповаю.'

	var radioboxesItems = {
		name: 'radioboxes',
		data: [
			{label: 'Верстать'},
			{label: 'Прокачиваться в JS', checked: true},
			{label: 'Менеджерство'},
			{label: 'Другое'}
		]
	}

	var date = "14.02.2019"

	










	
	







