//- header items
-
	var anketaItems = [
		{name: 'Полное ФИО', data: 'Иванов Иван Иванович'},
		{name: 'Год рождения', data: '1990'},
		{name: 'Место жительства', data: 'г. Иваново, Россия'},
		{name: 'Скайп', data: 'ivanov'},
		{name: 'Почта', data: 'ivanov@gmail.com'}
	]

	var checkboxesItems = [
		[
			{label: 'БЭМ/OOCSS', checked: true},
			{label: 'Pug (Jade)', checked: true},
			{label: 'Stylus/LESS/SASS', checked: true},
			{label: 'Работаю с SVG'},
			{label: 'Верстаю семантично'},
			{label: 'Accessibility (A11Y)'},
			{label: 'ES2015/ES2016'}
		],
		[
			{label: 'Gulp/GRUNT'},
			{label: 'Webpack'},
			{label: 'Дружу с WebGL'},
			{label: 'jQuery'},
			{label: 'Знаю/изучаю Angular'},
			{label: 'Знаю/изучаю React'},
			{label: 'Знаю/изучаю Node.js'}
		],
		[
			{label: 'Использую Git'},
			{label: 'С глазомером <span>всё </span><span>ок</span>'},
			{label: 'Читаю <a href="http://blog.csssr.ru/" target="_blank"><span>blog.csssr.ru</span></a>'},
			{label: 'Я ленивый(-ая)'},
			{label: 'У меня хороший английский'}
		]
	]
	
	var level_js = 'margin: 0 0 0 142px;'

	var aboutValue = 'Ну-ууу-уу...\nЭэээ...'

	var radioboxesItems = {
		name: 'radioboxes',
		data: [
			{label: 'Верстать', checked: true},
			{label: 'Прокачиваться в JS'},
			{label: 'Менеджерство'},
			{label: 'Другое'}
		]
	}

	var date = "01.01.2016"

	










	
	







