section.about
    .container
        .about__title
            h2 Расскажите о&nbsp;себе&nbsp;словами
            p.is-text Напишите пару предложений, чем&nbsp;вас&nbsp;привлекла наша вакансия и&nbsp;чего вы&nbsp;ожидаете от&nbsp;работы в&nbsp;CSSSR. Кстати, будет здорово, если при&nbsp;нехватке места для&nbsp;текста строки будут добавляться автоматически.
        .about__content
            textarea.js-textarea(name="about")=aboutValue
        .about__clone
            .about__clone-textarea.js-clone-textarea
        