section.leveljs
    .container
        .leveljs__title
            h2 Уровень владения JavaScript
        .leveljs__content
            .leveljs__content-cursor
                .icon-cursor(style= level_js)
            .leveljs__content-blocks
                .leveljs__content-block
                    .icon-dash_long
                    | Не&nbsp;владею
                .leveljs__content-block
                    .icon-dash_short
                    | Использую готовые решения
                .leveljs__content-block
                    .icon-dash_short
                    | Использую готовые решения и&nbsp;умею их&nbsp;переделывать
                .leveljs__content-block
                    .icon-dash_long
                    | Пишу сложный JS&nbsp;с&nbsp;нуля