section.slider
    .container
        .slider__title
            h2 Слайдер
            p.is-text Увы, в&nbsp;задании я&nbsp;не &nbsp;понял где&nbsp;слайдер, поэтому сделал отдельной страницей
    .container.container--no-padding
        .slider__hide
            .slider__hide-img.slider__hide-img--visible
                img(id="slider__img-item" src="./images/slider-img-1.jpg" alt="").js-slider-hide
            .slider__hide-wrapper
                .slider__arrow-prev.js-slider-arrow-prev
                    .icon.icon-prev
                .slider__arrow-next.js-slider-arrow-next
                    .icon.icon-prev.rotate180
                .slider__pagination
                    .slider__pagination-item.js-slider-pagination.is-active
                    .slider__pagination-item.js-slider-pagination
                    .slider__pagination-item.js-slider-pagination